html
    head
        title= title
    body
        h1= message
        <ul>
            <li><p><a href="/bl.txt" target="_blank">BL List</a>. Count: #{bl_count}</p></li>
            <li><p><a href="/wl.txt" target="_blank">WL List</a>. Count: #{wl_count}</p></li>
        </ul>
        <p>Server time: #{time}</p>